* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-section {
  background-color: red;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 100px;
  list-style-type: none;
}

.navbar ul a {
    text-decoration: none;
    color: white;
}

@media (max-width: 773px) {
    .top-section {
        background-color: red;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.mid-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ADFCF9;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-1 {
    height: 200px;
    width: 200px;
    background-color: blue;
    text-align: center;
}

.box-2 {
    height: 200px;
    width: 200px;
    background-color: yellow;
    text-align: center;
}

.box-3 {
    height: 200px;
    width: 200px;
    background-color: orange;
    text-align: center;
}

.box-4 {
    height: 200px;
    width: 200px;
    background-color: red;
    text-align: center;
}

.container-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 773px) {
    .container-1 {
        display: flex;
        flex-direction: column;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-1 {
        height: 200px;
        width: 400px;
    }
    
    .box-2 {
        height: 200px;
        width: 400px;
    }
    
    .box-3 {
        height: 200px;
        width: 400px;
    }
    
    .box-4 {
        height: 200px;
        width: 400px;
    }
}
